spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: false
    show-sql: false
    open-in-view: false
  datasource:
    password: ${DB_PASSWORD}
    username: ${DB_USER}
    url: ${DB_URL}

security.jwt.token:
  secret-key: ${TOKEN_SECRET_KEY}
  expire-length: ${TOKEN_EXPIRE_LENGTH}

oauth:
  apple:
    iss: https://appleid.apple.com
    client-id: ${OAUTH_APPLE_CLIENT_ID}
    nonce: ${OAUTH_APPLE_NONCE}
  kakao:
    client-id: ${OAUTH_KAKAO_CLIENT_ID}
    client-secret: ${OAUTH_KAKAO_CLIENT_SECRET}
    redirect-uri: ${OAUTH_KAKAO_REDIRECT_URI}

springdoc:
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  swagger-ui:
    path: /swagger-ui.html
    disable-swagger-default-url: true
    display-request-duration: true
    operations-sorter: alpha  # alpha: 알파벳 순 / method: http method 순 정렬
    tags-sorter: alpha
